button:focus {
    box-shadow: none !important;
}

.btn-circle {
    background-color: #F0F0F0;
    color: #12407E !important;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: all .5s ease;
    cursor: pointer;
    text-align: center;
    display: block;
    font-size: 20px;
    border-color: transparent;
    margin: 0px 7px;
}

.btn-circle:hover {
    background: #12407E !important;
    color: #fff !important;
}

.tooltip.bs-tooltip-bottom .tooltip-inner {
    background: white;
    color: black;
    font-size: 12px;
    border: 1px solid black;
}

.tooltip.b-tooltip .arrow {
    display: none;
}

a:hover {
    text-decoration: none;
}

.menu_bar_btn.collapsed .collapsed-icon, 
.sub-menu-bar.collapsed .collapsed-icon, 
.sub-sub-menu-bar.collapsed .collapsed-icon,
.sub-sub-menu-bar-1.collapsed .collapsed-icon {
    display: inline-block;
}

.menu_bar_btn.not-collapsed .collapsed-icon, 
.sub-menu-bar.not-collapsed .collapsed-icon, 
.sub-sub-menu-bar.not-collapsed .collapsed-icon,
.sub-sub-menu-bar-1.not-collapsed .collapsed-icon {
    display: none;
}

.menu_bar_btn.not-collapsed .opened-icon, 
.sub-menu-bar.not-collapsed .opened-icon, 
.sub-sub-menu-bar.not-collapsed .opened-icon,
.sub-sub-menu-bar-1.not-collapsed .opened-icon {
    display: inline-block;
}

.menu_bar_btn.collapsed .opened-icon, 
.sub-menu-bar.collapsed .opened-icon, 
.sub-sub-menu-bar.collapsed .opened-icon,
.sub-sub-menu-bar-1.collapsed .opened-icon {
    display: none;
}
